
*.pbxproj

*.xcworkspacedata

*.xcuserstate

*.xcscheme

*.plist

*.make

1_Triangular_Mesh/bin/1_Triangular_MeshDebug.app/Contents/Frameworks/GLUT.framework/GLUT

1_Triangular_Mesh/bin/1_Triangular_MeshDebug.app/Contents/Frameworks/GLUT.framework/Headers

1_Triangular_Mesh/bin/1_Triangular_MeshDebug.app/Contents/Frameworks/GLUT.framework/Resources
